body {
	background-color: LightGrey;
	color: DarkSlateGrey;
	font: 18pt sans-serif;
	margin-left: 5vw;
	margin-right: 5vw;
}

input[type='button'] {
	background-color: AliceBlue;
	font-size: 14pt;
	border-radius: 10px;
	border: solid DarkGrey 1px;
	margin-top: 2em;
}

/*
  PIA:  Who came up with the file input implementation?!
  SEE FOR HELP: https://developer.mozilla.org/en-US/docs/Using_files_from_web_applications
*/
input[type='file'] {
	/*display: none;*/
}

label#img-upload-label {
    
}

div.file-upload {
	background-color: WhiteSmoke;
	border: solid DarkGrey 1px;
	width: 80vw;
	padding: 0.5em;
}

div#nav-bar {
    background-color: WhiteSmoke;
	border: solid DarkGrey 1px;
	margin-left:  -2.5vw;
	margin-right: -2.5vw;
}

div#nav-bar span {
	display: inline-block;
	background-color: #112;
	padding: 1em;
}

div#nav-bar span a {
	color: white;
	text-decoration: none;
}

div.gallery-container {
	position: relative;
}

div.open-control {
	position: absolute;
	top: 0;
	left: 80px;
	z-index: 10;
}

div.open-control button {
    cursor: pointer;
}



